header.header
	.container.header__container
		a(href="index.html").header__logo
			span.header__logo_top BLOG  DESIGN
			span.header__logo_middle CRAFTED
			span.header__logo_bottom The Source of all crafted blogs
		.header__right-block
			.header__right-block_top
				.header__social
					a(href="javascript:void(0);").header__social_link.header__social_link_email
					a(href="javascript:void(0);").header__social_link.header__social_link_rss
					a(href="javascript:void(0);").header__social_link.header__social_link_fb
					a(href="javascript:void(0);").header__social_link.header__social_link_twitter
				form.header__form
					input(type="search" name="").header__form_input
					input(type="submit" value="").header__form_submit
			.header__right-block_bottom
				nav.header__nav
					a(href="javascript:void(0);").header__nav_link.active home
					a(href="javascript:void(0);").header__nav_link BLOG
					a(href="javascript:void(0);").header__nav_link ABOUT
					a(href="javascript:void(0);").header__nav_link CONTACT
					a(href="javascript:void(0);").header__nav_link NEWS
					a(href="javascript:void(0);").header__nav_link WORKS