section.slider
	.container.slider__container
		.slider__wrap
			.slider__arrow.slider__arrow_prev
			.slider__arrow.slider__arrow_next
			.js-slick__slider
				img(src="static/img/content/slider_photo.png" alt="slider_photo").slider__img
				img(src="static/img/content/slider_photo.png" alt="slider_photo").slider__img