$s-header_icon_email: 0px 54px 0px -54px 28px 28px 159px 119px 'sprite.png';
$s-header_icon_fb: 85px 54px -85px -54px 26px 27px 159px 119px 'sprite.png';
$s-header_icon_rss: 43px 54px -43px -54px 27px 27px 159px 119px 'sprite.png';
$s-header_icon_search: 36px 97px -36px -97px 11px 11px 159px 119px 'sprite.png';
$s-header_icon_twitter: 126px 54px -126px -54px 26px 27px 159px 119px 'sprite.png';
$s-header_logo_star: 0px 97px 0px -97px 21px 22px 159px 119px 'sprite.png';
$s-slider_next: 0px 0px 0px 0px 72px 39px 159px 119px 'sprite.png';
$s-slider_prev: 87px 0px -87px 0px 72px 39px 159px 119px 'sprite.png';
