$s-comment-btn: 394px 61px -394px -61px 53px 30px 454px 329px 'sprite.png';
$s-commenta: 227px 252px -227px -252px 32px 34px 454px 329px 'sprite.png';
$s-content-btn: 286px 61px -286px -61px 93px 30px 454px 329px 'sprite.png';
$s-corner-left: 0px 306px 0px -306px 24px 23px 454px 329px 'sprite.png';
$s-corner-right: 405px 191px -405px -191px 24px 23px 454px 329px 'sprite.png';
$s-header_icon_email: 274px 252px -274px -252px 28px 28px 454px 329px 'sprite.png';
$s-header_icon_fb: 400px 252px -400px -252px 26px 27px 454px 329px 'sprite.png';
$s-header_icon_rss: 317px 252px -317px -252px 27px 27px 454px 329px 'sprite.png';
$s-header_icon_twitter: 359px 252px -359px -252px 26px 27px 454px 329px 'sprite.png';
$s-header_logo_star: 39px 306px -39px -306px 21px 22px 454px 329px 'sprite.png';
$s-sidebar_title-2: 0px 61px 0px -61px 271px 52px 454px 329px 'sprite.png';
$s-sidebar_title-3: 0px 128px 0px -128px 271px 48px 454px 329px 'sprite.png';
$s-sidebar_title: 0px 191px 0px -191px 271px 46px 454px 329px 'sprite.png';
$s-slider-bt_next: 346px 191px -346px -191px 44px 25px 454px 329px 'sprite.png';
$s-slider-bt_prev: 286px 191px -286px -191px 45px 25px 454px 329px 'sprite.png';
$s-slider_next: 373px 128px -373px -128px 72px 39px 454px 329px 'sprite.png';
$s-slider_prev: 286px 128px -286px -128px 72px 39px 454px 329px 'sprite.png';
$s-title-bg: 0px 252px 0px -252px 212px 39px 454px 329px 'sprite.png';
$s-title-bg2: 0px 0px 0px 0px 454px 46px 454px 329px 'sprite.png';
