$s-border: 0px 85px 0px -85px 6px 8px 106px 93px 'sprite.png';
$s-header_icon_email: 0px 0px 0px 0px 28px 28px 106px 93px 'sprite.png';
$s-header_icon_fb: 0px 43px 0px -43px 26px 27px 106px 93px 'sprite.png';
$s-header_icon_rss: 43px 0px -43px 0px 27px 27px 106px 93px 'sprite.png';
$s-header_icon_search: 85px 37px -85px -37px 11px 11px 106px 93px 'sprite.png';
$s-header_icon_twitter: 41px 43px -41px -43px 26px 27px 106px 93px 'sprite.png';
$s-header_logo_star: 85px 0px -85px 0px 21px 22px 106px 93px 'sprite.png';
