section.blog-content
	.container.blog-content__container
		.blog-content__block
			span.blog-content__block_commenta commenta
			.blog-content__block_icon-commenta 88
			h1.blog-content__block_title The crafted Post Title here
			span.blog-content__block_descr The subtitle goes in this line of text in a minor size.
			.blog-content__block_flexbox
				.blog-content__block_text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis erat a felis commodo aliquam placerat ligula pulvinar. 
						span.block-italic Etiam nibh metus, 
						| rhoncus adipiscing tristique non, gravida at est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

					p Vivamus et tellus quis 
						span.block-italic velit blandit 
						| ornare. Vivamus diam felis, tincidunt vel vulputate consectetur, ultrices rhoncus tortor. Ut dapibus ante non lectus ornare vehicula fermentum sodales nulla, in fermentum dui pretium non.
					a(href="comments.html").blog-content__block_link.main-btn Read More
				.blog-content__block_img
					a(href="javascript:void(0);")
						img(src="static/img/content/content-img.jpg" alt="content-img")
					.blog-content__block_img_descr Photo courtesy of some kind StockPhoto Bank.