section.comment
	.container.comment__container
		.comment__box
			h2.comment__title Comments
			.comment__flexbox
				.comment__block
					img(src="static/img/content/userphoto.jpg" alt="userphoto").comment__block_img
					p.comment__block_username USER NAME
				.comment__block
					.comment__block_text 
						p Donec sed dui sit amet lacus tincidunt lacinia et convallis nulla.
						p Ut dapibus ante non lectus ornare vehicula. Suspendisse tempor ipsum non sapien consectetur id volutpat erat faucibus. 
						p Cras tincidunt enim in enim euismod accumsan.
						a(href="javascript:void(0);").comment__block_link.main-btn Reply
			.comment__flexbox.under
				.comment__block
					img(src="static/img/content/userphoto.jpg" alt="userphoto").comment__block_img
					p.comment__block_username USER NAME
				.comment__block
					.comment__block_text 
						p Donec sed dui sit amet lacus tincidunt lacinia et convallis nulla.
						p Ut dapibus ante non lectus ornare vehicula. Suspendisse tempor ipsum non sapien consectetur id volutpat erat faucibus. 
						p Cras tincidunt enim in enim euismod accumsan.
						a(href="javascript:void(0);").comment__block_link.main-btn Reply