section.content
	.container.content__container
		.content__box
			.content__block
				.content__block_title ITEM ONE
				span.content__block_descr The subtitle goes in this line.
				p.content__block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis erat a felis commodo aliquam placerat ligula pulvinar.
				p.content__block_text 
					span.content__block_text.block-italic Etiam nibh metus, 
					| rhoncus adipiscing tristique non, gravida at est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				a(href="javascript:void(0);").content__block_link Read More
			.content__block.more
				.content__block_title ITEM TWO - THE FEATURED
				span.content__block_descr The subtitle goes in this line of text.
				p.content__block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis erat a felis commodo aliquam placerat ligula pulvinar.
				p.content__block_text 
					span.content__block_text.block-italic Etiam nibh metus, 
					| rhoncus adipiscing tristique non, gravida at est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				a(href="javascript:void(0);").content__block_img
					img(src="static/img/content/content-img.jpg" alt="content-img")
				a(href="javascript:void(0);").content__block_img
					img(src="static/img/content/content-img.jpg" alt="content-img")
				a(href="javascript:void(0);").content__block_link Explore
			.content__block
				.content__block_title ITEM THREE
				span.content__block_descr The subtitle goes in this line.
				p.content__block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis erat a felis commodo aliquam placerat ligula pulvinar.
				p.content__block_text 
					span.content__block_text.block-italic Etiam nibh metus, 
					| rhoncus adipiscing tristique non, gravida at est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				a(href="javascript:void(0);").content__block_link Read More