section.content
	.container.content__container
		.content__box
			.content__block
				.content__block_title ITEM ONE
			.content__block.more
				.content__block_title ITEM TWO - THE FEATURED
			.content__block
				.content__block_title ITEM THREE