footer.footer
	.container.footer__container
		.footer__block.footer__block_contact
			h2.footer__title contact
			span.footer__text 655 E. Ipsum Lorem, LP 20157
			span.footer__text 555.624.825
			ul.footer__list.contact
				li Podcast
				li Email Us
			span.footer__text Copyright © 2011 Iconshock.
			span.footer__text All rights reserved.
		.footer__block.footer__block_about
			h2.footer__title About us
			ul.footer__list
				li Our Values
				li Our Beliefs
				li Our Team
				li Our Story
				li Our Services
				li More Services
				li Our Support
				li Live Chat
		.footer__block.footer__block_categories
			h2.footer__title Categories
			.footer__box-list
				ul.footer__list
					li Magazines
					li Design
					li Icons
					li Set Icons
					li Custom Work
					li The Packs
				ul.footer__list
					li The Core Class
					li Discovery Class
					li Last Works
					li Rich Media
					li Screencast
					li Best Themes
		.footer__block.footer__block_map
			h2.footer__title On Maps
			.footer__map
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1332.6704489974215!2d-122.14376567508552!3d37.442588889848146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1496736885245" frameborder="0" style="border:0" allowfullscreen)
.bottom-bg