section.sidebar
	.container.sidebar__container
		.sidebar__block
			h2.sidebar__title.sidebar__title_top POSTS
			.sidebar__content
				.sidebar__content_flexbox
					img(src="static/img/content/post-img.jpg" alt="post-img").sidebar__content_img
					.sidebar__content_text Class aptent taciti socios ad litora torquent per conubia nostra, per eptos hime.
				.sidebar__content_flexbox
					img(src="static/img/content/post-img.jpg" alt="post-img").sidebar__content_img
					.sidebar__content_text Class aptent taciti socios ad litora torquent per conubia nostra, per eptos hime.
				.sidebar__content_flexbox
					img(src="static/img/content/post-img.jpg" alt="post-img").sidebar__content_img
					.sidebar__content_text Class aptent taciti socios ad litora torquent per conubia nostra, per eptos hime.
		.sidebar__block
			h2.sidebar__title.sidebar__title_middle TAG CLOUD
			.sidebar__content
				span.sidebar__content_tegs Etiam fermentum sodales nulla, in fermentum dui pretium non. Suspendisse tempor ipsum non sapien consectetur id volutpat erat faucibus. Cras tincidunt enim in enim euismod accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id eros at est condimentum tempor. Aliquam pretium est a metus pretium lacinia sed eu arcu.
		.sidebar__block
			h2.sidebar__title.sidebar__title_bottom OUR TWITTS
			.sidebar__content_bottom
				p.sidebar__text_bottom Class aptent taciti socios ad litora torquent per conubia nostra, per eptos himenaeos.
				p.sidebar__text_bottom Vivamus et tellus quis velit blandit ornare. Vivamus diam felis, tincidunt vel vulputate consectetur.