section.slider
	.container.slider__container
		.slider__border-bt
			.slider__wrap
				.slider__arrow.slider__arrow_prev
				.slider__arrow.slider__arrow_next
				.js-slick__slider
					a(href="javascript:void(0);")
						img(src="static/img/content/slider_photo.jpg" alt="slider_photo").slider__img
					a(href="javascript:void(0);")
						img(src="static/img/content/slider_photo.jpg" alt="slider_photo").slider__img