section.slider-bt
	.container.slider-bt__container
		.slider-bt__box
			.slider-bt__arrow.slider-bt__arrow_prev
			.slider-bt__arrow.slider-bt__arrow_next
			.js-slick__slider-bt
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")
				+slider-bt("slider-bt_img")